/* ==================================================
 Font Family                                        |
                                                    |
font-family: 'Kaushan Script', cursive;             |
font-family: 'Ibarra Real Nova', serif;             Z
font-family: 'IM Fell Great Primer SC', serif;      |
font-family: 'Indie Flower', cursive;               |  
font-family: 'Acme', sans-serif;                    Z
font-family: 'Amatic SC', cursive;                  |
font-family: 'Domine', serif;                       |
font-family: 'Ubuntu', sans-serif;                  |
================================================== */

.bg-color{
    background-color: #db3056;
}


.container-fluid{
 

}

.logo-font{
    padding: 0.5%;
    font-family: 'Kaushan Script', cursive; 
    font-size: 24px;    
}

.a-link{
    font-family: 'Kaushan Script', cursive;
    font-size: 22px;
}


.first-content{
    text-align: center;
    /* background-color: #ff6666; */

    background-image: url(../img/wallBanner.jpg);
    background-size: cover;


}

.title-busy{
    padding-top: 250px;
    text-align: center;
    font-family: 'Kaushan Script', cursive;
    font-size: 5rem;
}

.title-text{
    text-align: center;
    font-size: 1.5rem;
}

.app-delivery{
    text-decoration: underline;
}


.download-button{
        margin: 1% 1% 3% 1%;
}

/* .btn-color-download{
    background-color: #db3056;
} */

/* OUR HISTORY */

.history1-margin col-lg-6{
    margin-right: 1%;
}
.our-history{
    background-color: #f9f6f7;
    width: 100%;
}
.img-food{
    padding: 50px;
    margin-left: 5%;
    width: 90%;
    height: 90%;
}

.itens-History4{
    font-family: 'Kaushan Script', cursive;             |
}
.our-history-text-P{
    font-family: 'Kaushan Script', cursive;
    text-align: center;
    margin: 5% 0% 4% 0%;
    font-size: 4rem;
}

.our-history-text-content{
    margin: 0.5% 5% 2% 5%;
}

.awards{
    margin: 0% 8% 0% 5%;
    text-align: center;
}

/* OUR MENU */

.order-font{
    font-family: 'Kaushan Script', cursive;
    color: #f9f6f7;
}

.order-font-sub{
    font-family: 'Acme', sans-serif;                    
    color: #f9f6f7;
    font-size: 1.5rem;
}

.price-type-text{
    font-family: 'Kaushan Script', cursive;
    font-size: 3rem;

}
.our-menu{
    background-color: #db3056;
    text-align: center;
    padding: 100px;
}
.menu-iten1{
    border: 5px solid #f0cf85;
    margin: auto;
    text-align: center;
    margin: 5% 20%;
    background-color:#f9f6f7;
    height: 200px;
    width: 300px;
}

.menu-text{
    padding: 10px;
    font-family: 'Kaushan Script', cursive;
    color: #393e46;
}

hr{
    border-top: 1px solid  #393e46;
}

.price-menu{
    color: #393e46;
}


.pricing-column{
    padding: 3% 2%;
}

.btn-price1{
    background-color: #f9f6f7;
}

.btn-price1:hover{
    background-color: #db3056;
}

.btn-price2{
    background-color: #db3056;
}

.btn-price2:hover{
    background-color: #851d41;
}



/* ==================  Special Offer =================== */

.special-offer{
    
}

.special-offer-Text{
    text-align: center;
    font-family: 'Kaushan Script', cursive;
    font-size: 4rem;
}

.btn-large1{
    
    font-size: 2rem;
}


/* ===== PRICING ===== */


