/* ==================================================
 Font Family                                        |
                                                    |
font-family: 'Kaushan Script', cursive;             |
font-family: 'Ibarra Real Nova', serif;             Z
font-family: 'IM Fell Great Primer SC', serif;      |
font-family: 'Indie Flower', cursive;               |  
font-family: 'Acme', sans-serif;                    Z
font-family: 'Amatic SC', cursive;                  |
font-family: 'Domine', serif;                       |
font-family: 'Ubuntu', sans-serif;                  |
================================================== */


.logo-font{
    font-family: 'Kaushan Script', cursive; 
    font-size: 24px;    
}

.a-link{
    font-family: 'Kaushan Script', cursive;
    font-size: 22px;
}


.first-content{
    text-align: center;
    background-color: #ff6666;

}

.title-busy{
    padding-top: 150px;
    text-align: center;
    font-family: 'Kaushan Script', cursive;
    font-size: 5rem;
}

.title-text{
    text-align: center;
    font-size: 1.5rem;
}

.app-delivery{
    text-decoration: underline;
}

.download-button{
        margin: 1% 1% 1% 1%;
}